header{
	 border-color:#009c71 transparent #b4a8a5 transparent;
	 border-width: 3px 0 1px 0;
	 border-style:solid;}
	 
.lines-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lines-button.minus span:before {
    background: none repeat scroll 0 0 #009c71;
}
.lines-button.minus span:after {
    background: none repeat scroll 0 0 #009c71;
}
.lines-button.minus span {
    background: none repeat scroll 0 0 #009c71;
}


.CourseTitle-TT:before, .PageTitle-TT:before{
	border-color: transparent transparent #009c71 transparent;;
}

/*======================================*/
.SH.minus:before {
    background: none repeat scroll 0 0 #009c71;
}
.SH.minus:after {
    background: none repeat scroll 0 0 #009c71;
}
.SH.minus {
    background: none repeat scroll 0 0 #009c71;
}

.headerLeft .Papa_indicator{
	color:#009c71;
}

/*======================================*/

.Shell_menu li a:hover{
	color:#009c71;}
	
.Shell_menu li a span{
	border-color: transparent transparent transparent #009c71;
}

.ShellMenuWrapper ol li:hover:before, .ShellMenuWrapper ol li:hover a, .ShellMenuWrapper ol li.Active a, .ShellMenuWrapper ol li.Active:before {
	color:#009c71;}
.ShellMenuWrapper ol li.Active:hover a,
.ShellMenuWrapper ol li.Active:hover:before{
	 color: #009c71;	
	}

/*======================================*/


/*=================== For Arabic===================*/

.Arabic .Shell_menu li a:hover{
	color:#009c71;}
	
.Arabic .Shell_menu li a span{
	border-color: transparent #009c71 transparent transparent ;
}

.Arabic .ShellMenuWrapper ol li:hover:before, .Arabic .ShellMenuWrapper ol li:hover a, .Arabic .ShellMenuWrapper ol li.Active a, .Arabic .ShellMenuWrapper ol li.Active:before {
	color:#009c71;}
.Arabic .ShellMenuWrapper ol li.Active:hover a,
.Arabic .ShellMenuWrapper ol li.Active:hover:before{
	 color: #009c71;	
	}

/*======================================*/




.progress {
    background-color:#009c71;
}

.playButton:hover, .audioButton:hover  {
	 color:#fff;
	 background:#009c71;
	 border: 1px solid #009c71;}

/*======================================*/
.exitPopupWrap:after {
    background: none repeat scroll 0 0 #009c71;
}

.exit li {
	 background: none repeat scroll 0 0 #009c71;}
	 


/*======================================*/

.popWraper {
    border-top: 3px solid #009c71;
}
.popWraper .popHeader{
	color:#009c71;
}

/*======================================*/	
 
.back.icon-back:hover:before {
   color:#009c71;
}
	
.next.icon-next:hover:before {
   color:#009c71;
}


/*======================================*/
.SH.icon-papabadg {
     color:#009c71;
}


.SH.PRogress:after{
	background:#009c71}


/*======================================*/

.glossList ul li h3 {
    color: #009c71;
}


.Glossary .alphbet_wraper li.active{
	background:#009c71;}
	
	

.ShellResourseWrapper ul li:hover:before{
	color:#009c71;
}
.ShellResourseWrapper ul li a:hover{
	color:#009c71;
}


.Papa_indicator.icon-papabadg:before {
	color:#009c71;}
	
	
	
.list_style li:before {
	background:#009c71}
/*================
Border, Text, and Background
==================================*/
.Color-Chnge {
	color:#009c71;
}
.Solid-BG, .current, .current polygon, circle, .dotNav a.active {
	background:#009c71;
	fill:#009c71;
	stroke:#009c71;
}
.selected{
	background:#07634d;
}
.drdn_border{
	border-color:#3fa78f;
}
.papaSVG text{
	fill:#009c71;}
.Bordr-Color, .sequencList li.ui-draggable-dragging p, .sequencList li.ui-draggable-dragging {
	border-color:#009c71;
}
.Bordr-Color:after {
	border-color:#009c71;
}
.dflt_brdr_color:hover, .MCQRadio, .MCQRadioSelect, .MCQCheck, .MCQCheckSelect, .dflt_brdr_color.active:after, .InnerGlobalPopup:after,  .active_btn, .active_btn:after  {
	border-color:#009c71;
}
.dflt_brdr_color:hover .dflt_bg_color {
	background:#009c71;
	color:#fff;
}
.MCQRadioSelect:after, .MCQCheckSelect:after, .InitButton:hover {
	background:#009c71;
}
.Transparant-Bg {
	background:rgba(0, 156, 113, .45)
}
.icon-fullyCompleted.HActive:before, .icon-partialcompleted.HActive:before, .Clicked:before, .active_btn {
	color:#009c71;
}
/*================
intro page style
==================================*/
.Top-Left:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 19px 19px 0 0;
	border-color: #009c71 transparent transparent transparent;
	content:"";
	position:absolute;
	left:0;
	top:0;
	display:block;
}

.Top-Right:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 19px 19px 0;
	border-color: transparent #009c71 transparent transparent;

	content:"";
	position:absolute;
	right:0;
	top:0;
	display:block;
}
.Bottom-Left:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 19px 0 0 19px;
	border-color: transparent transparent transparent #009c71;
	display:block;



	content:"";
	position:absolute;
	left:0;
	bottom:0;
}

.Bottom-Right:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 19px 19px;
	border-color: transparent transparent #009c71 transparent;
	display:block;




	content:"";
	position:absolute;
	right:0;
	bttom:0;
}

/** ============== **/
.dialogue-box:before{border-color: transparent transparent #009c71 transparent;}
/** ============== **/
/** ======chatbox arrow======== **/
.chat_wrap .chat_box .content_chat:after {
    border-color: #009c71 transparent;
}
.chat_wrap .chat_box .content_chat1:after {
    border-color: #009c71 transparent;
}
.chat_wrap .chat_box .content_chat2:after {
    border-color: #009c71 transparent;
}
.chat_wrap .chat_box .content_chat3:after {
    border-color: #009c71 transparent;
}

.chat_box_green:after {border-color: transparent transparent transparent #009c71;}

/** ======chatbox arrow======== **/


/** ======Fun Facts======== **/

.FunFactBtn:hover{
	background-color:#009c71;
	color:#fff;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

/** ======Fun Facts======== **/

/** ======Conclusion======== **/

.conclusion1{
	background:url(../../../assets/image/common/conclusion2_green.png);
	background-position:0 center;
    background-repeat:no-repeat;
    background-size:100% auto;
}
.conclusion2{
	background:url(../../../assets/image/common/conclusion1_green.png);
	background-position:0 center;
    background-repeat:no-repeat;
    background-size:100% auto;
}


/** ======Conclusion======== **/


/*from shell*/
.ShellMenuWrapper ol li.Active:hover:before,.ShellMenuWrapper ol li.Active:hover a{
	color: #009c71;
}
/*from shell*/
@media (min-width: 320px) and (max-width: 1024px){
	/*.ShellMenuWrapper ol li:hover:before,.ShellMenuWrapper ol li a:hover,.ShellMenuWrapper ol li:hover a{
		color:#6b514b;
	}*/
}